.item-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-medium);
  gap: var(--space-medium);
  position: relative;
  width: 224px;
  height: auto;
  background: rgb(243, 236, 236);
  border-radius: var(--space-small);
  padding-bottom: 4px;
}

.item-card img {
  width: 192px;
  height: 192px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  border-radius: var(--space-small);
}

.item-card h3 {
  padding-top: var(--space-small);
  width: 192px;
  height: 19px;
  font-style: normal;
  line-height: 19px;
  color: var(--color-white);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.item-card .link {
  text-decoration: none;
  color: black;
}
.item-card .data {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.data .price {
  width: 80px;
  font-weight: 600;
  font-size: medium;
}
