.auth {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/background.png"); /* The lineal-gradient fakes the darker tint of the image */
    background-repeat: none;
    background-size: cover;
  }
  
  .auth .container {
    /* background-color: var(--color-green); */
    padding: var(--page-space);
    border-radius: var(--radius);
  }
  
  .auth form {
    margin-bottom: var(--space-small);
  }
  
  .auth .input {
    margin-bottom: var(--space-small);
  }
  
  .auth button {
    width: 100%;
  }
  
  .auth footer {
    color: var(--color-green);
  }
  .auth button{
    background-color:var(--color-green);
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }