body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;

  /* Makes fonts look good on compatible browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box; /* to fix legacy issues with padding messing up when adding with or borders */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.user-list-page {
  max-width: 960px;
  margin: auto;
}

.user-list-page header {
  padding-top: var(--navigation-bar);
}

.user-list-page .item-user {
  margin-bottom: var(--space-medium);
}

.user-list-page .status {
  height: 50vh;
}

